.contact-list-component {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
}

.contact-list-component:last-child {
  border-bottom: 1px solid #ddd;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.contact-name {
  padding-top: 5px;
}

.icons {
  padding: 0 5px;
  align-self: center;
}

.phone {
  cursor: not-allowed;
}

.chat {
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.textarea {
  margin: 10px 0;
  font-size: 12px;
  height: 100%;
  width: 100%;
}
